#header-bar {
  background: url("images/header_background.png") no-repeat center center;
  width: 1277px;
  height: 130px;
  margin: 0px auto;
  margin-top: -12px;
}
html {
  background-color:#C8C8C8;
}
.thumbnail {
  width: 240px !important;
  height: 330px !important;
}
.clear {
  clear: both;
}
