%section#about
  %aside.span2
    %ul
      %li
        = link_to "News", "#"
      %li
        = link_to "Team", "#", class: "active"
      %li
        = link_to "Jobs", "#"
      %li
        = link_to "Contact", "#"
      
  %section.text_part.span6
    %h1
      How Flywheel 
      %br
      Got Rolling
    %p
      Flywheel was created as an innovative mobile solution to an age-old, |
      real-world problem. It's a reassurance to busy, city-driven people that an affordable |
      ride-on-the-fly is always just a smartphone tap away.
    %p
      The inspiration for Flywheel came from the universal experience of not being able to |
      get a cab at the most inopportune times. For our CEO, it was a washed out access road at JFK and a 10-mile |
      walk through Queens, NY in the rain unable to even tell a dispatcher where he was. For our chief |
      Product Officer, it was beginning taken for a ride(literally) through the streets of Bombay in a |
      gypsy cab with a rigged meter.
    %p
      They all had the same thought: "There has to be a better way"
      %span
        = link_to "Read more", "", class: "read_more"
    %article.sub_part
      %p
        We are not a disrupter-we are a catalyst for change. That's right, Flywheel plays by the rules. |
        We are hardwired into the meters of licensed taxis so you know exactly what you're paying. |
        No gimmicks. No games. Our cabs are regulated for passenger safety by teh cities in which they |
        operate, so our riders know they're in a safe vehicle with an accurate meter (as opposed to pricing based on imprecise GPS location).
      %p
        For cab drivers, Flywheel means greater efficiency and an affordable to expensive dispatch services. |
        For riders, Flywheel means that you will always have a ride waiting to get you from point A to point B(as well |
        as point C thru Z). For the future, Flywheel means that one day the universal cab experience may just be getting |
        a ride withease in every city around the world. Hey, we may even be the ride that gets you around the world (stay tuned).
      %p
        City life is tough. We're here to make it easier. Flywheel is the secret shortcut for your daily life. So |
        wher do you need a ride to today? fire up your Flywheel-we're ready to roll.
  .clear
  %section.image_part
    .span2
    = image_tag(asset_path("about_people.png"), class: "span7")