%section#faqs.span12
  %section.text_part
    %h1.span10
      help hq
    %article.riders
      %a.span6.heading
        %h3
          flywheel for riders --- on your device
      %span.img
        %img{src: asset_path("contact_us_for_riders.png")}
      %section.content.span10
        %article
          %h4
            what is flywheel?
          %p
            Flywheel is a mobile app that enables you to hail a cab from your smartphone, |
            watch it approach, and pay for your ride directly from your phone. Flywheel exists |
            to keep cities and city-driven people moving that's just how we roll.
        %br
        %article
          %h4
            why should you use flywheel?
          %p
            Flywheel is driven by the needs of city-driven people. Our passion is to make your life easier. |
            Top 3 reasons, we think you should use Flywheel:
            %ul
              %li
                %p
                  Requesting a cab has never been easier. With Flywheel, you no longer need to hail a cab |
                  on the street or call the cab company.
                %p
                  You know exactly where your driver is, know when they will arrive, can chat directly with them.
                %p
                  You can pay conveniently directly from your smartphone.
        %br
        %article
          %h4
            where can you use flywheel?
          %p
            Flywheel's coverage is rapidly growing across the nation. We now have access to over 2,000 |
            cabs in the following locations:
            %p CA: Los Angeles, Santa Barbara, San Diego, San Francisco-Bay Area
            %p FL: Daytona Beach, Miami, Naples, Orlando
            %p GA: Atlanta
            %p KY: Louisville, Lexington
            %p MI: Lansing
            %p OH: Cleveland
            %p OK: Oklahoma City
            %p OR: Portland
            %p PA: Philadelphia
            %p TX: Dallas, San Antonio
            %br/
            Don't see your city? Don't worry; we are adding more cities every week.
        %br
        %article
          %h4
            Can You afford Flywheel?
          %p
            Flywheel is functional and affordable. You pay the cab’s standard meter rate at the end of your ride. |
            Flyhweel charges a low an introductory fee of $0.60 per ride when pay with the Flyhwheel app |
            on your smartphone.
            
        %br
        %article
          %h4
            Which smartphones are compatible with Flywheel?
          %p  
            Flywheel is currently available on the Android and iPhone. (hyperlink to related storefront)
        %br
        %article
          %h4
            What’s Flywheel’s cancellation policy?
          %p
            You can request a cab and then cancel for free within 2 minutes of the driver accepting your request |
            or if the driver arrives after the estimated pickup time. Don't worry we don't push 1st time offenders. |
            Otherwise there is a $6 cancellation fee.
          %p
            Trust us when the driver accepts your request, they commit both time and money to picking you up and |
            the only thing we ask is that you show up.
        %br
        %article
          %h4
            what are flywheel's rates?
          %p
            Flywheel prides itself on affordability, accountability and transparency. Fares are based on licensed |
            metered rates. Flywheel charges riders a very low 60-cent free per ride when payment is made through the |
            app. Riders can set tip amounts and/or percentages.
    
    .clear    
    %article.drivers
      %a.span6.heading
        %h3
          flywheel for drivers --- at your service
      %span.img
        %img{src: asset_path("contact_us_for_drivers.png")}
      .clear
      %section.content.span10
        %article
          %h4
            How do you sign up for Flywheel?
          %p
            We cannot sign up individual drivers for Flywheel, but we would love to speak to your |
            company about using our service. Please let your fleet manager know about your interest |
            and send us their contact information.
        %br
        %article
          %h4
            How do you get training or more info?
          %p
            We have comprehensive user guides for drivers, so please contact us at drivers@flywheel.com |
            or xxx-xxx-xxxx if you do not have one. We are happy to send you a copy and answer any of |
            your questions about how to use our driver device.
        %br
        %article
          %h4
            How much does it cost drivers?
          %p
            Flywheel is free for drivers! We do not charge a per ride fee and there are no clever, |
            hidden costs. The only thing you have to pay is a competitive credit card processing |
            rate on your mobile transactions - that's it.
        %br
        %article
          %h4
            How do you get paid?
          %p
            You get paid for your mobile transactions via direct deposit, check disbursement or through |
            your company. If you would like to sign up for direct payment, please contact us at |
            drivers@flywheel.com or xxx-xxx-xxxx. Direct deposit payments are processed the next business day!
        %br
        %article
          %h4
            What phone or device do I need?
          %p
            You will only need the driver device that is already in your vehicle. No other devices or |
            phones are required for drivers to use the Flywheel system and accept payments. 
        %br
        %article
          %h4
            Can you run swipe credit card payments through the Flywheel driver device?
          %p
            The driver device is capable of accepting swipe credit card payments through many popular |
            processing applications. Depending on your company's needs, this can be configured in unison |
            for all of the vehicles in your fleet.
        %br
        %article
          %h4
            How long do you have to accept a ride request?	
          %p
            This length of time is set by your company and can range from 5 seconds to 30 seconds. |
            Please check with your fleet manager to find out this time and let them know if you |
            feel it is inadequate.
        %br
        %article
          %h4
            What happens if you cancel a ride from a passenger?
          %p
            Once you accept a ride, you are obligated to pick up the passenger. Flywheel will be |
            monitoring driver performance and shifting hail priority for drivers who cancel |
            after accepting a ride. This is not a monetary penalty, but will prevent your from |
            receiving mobile hails for a designated period of time. 
        %br
        %article
          %h4
            Do you have to participate in mobile payments?
          %p
            You must participate in mobile payments in order to receive all of the benefits, |
            such as cancellation penalties, hails from passengers and direct deposit. |
            If you do not accept mobile payments, you will only be able to receive hails from your dispatcher.
        %br
        %article
          %h4
            what happens if a rider cancels a request or is a no-show?
          %p
            If a rider cancels or no-shows you, they will be charged a penalty and you will be paid $5. |
            The rules are:
            %ul
              %li
                Passengers have 2 minutes after you accept their order to change their ming. If they |
                cancel after 2 minutes, you get $5.
              %li
                Passenger have 3 minutes to reach you after you arrive on location. If you try to contact them, |
                wait 3 minutes and they are not outside, you get $5.
        %br
        %article
          %h4
            who can you contact if you have technical or account issues?
          %p
            You can always contact us at drivers@flywheelnow.com or our driver line at (888)667-7991 |
            with any questions or concerns. We look forward to hearing from you, and always appreciate your feedback |
            on any of our products.
    %article.question
      %a.span6.heading
        %h3
          have a question -- ask away
        
        

