%section#fleet
  %article.heading
    %h1.span8
      Flywheel for Fleets
    %span.span0.pull-right
      = image_tag(asset_path("sign_in.png"))
  %article.image
    = image_tag(asset_path("video.png"), class: "span12")
  %article.content_part
    %span
      = image_tag(asset_path("car.png"), class: "span6")
    %span.span5
      %h4
        sales info
      %p
        Flywheel partners with licensed fleets to deliver low cost, cloud based computerized dispatching |
        and mobile-hailing technology.
        
      .clear
      %ul
        %li
          Cut your systems cost--no software required, driver devices provided for every vehicle.
        %li
          Increase efficiency--location based auto-dispatching, access from any computer
        %li
          Increase visibility & passengers--receive mobile hails from Flywheel passenger app.
      .clear
      %p
        Flywheel only works with Fleets and their drivers.
      %br
      %p
        Find out more.
      = image_tag(asset_path("scheduled_a_demo.png"))
      %br
      %p
        Contact us: 
        %br
        650 260 1700
        %br
        Sales@flynow.com
      
      
        
        
        
      