%aside.span6
  = image_tag(asset_path("mobiles.png"))
%section.text_part.span5
  %h2
    Your Ride is Here.
  %p
    There's one thing that all city people have in common. |
    We have places to go (and we need a ride). Movers and shakers, |
    hustlers and bustlers alike, we all need a cab. Like right now.
  %p
    Enter Flywheel:

  %ul
    %li
      %p
        Hall a cab right from your smartphone: we'll spot your location |
        and let you know when a driver is on the way.
    %li
      %p
        Call the driver from within the app for easy coordination.
    %li
      %p
        Track your cab as it comes to your pick-up location.
    %li
      %p
        Pay for your ride with the touch of a button: |
        no need to hunt for cash or a credit card.
  
  %p
    From San Francisco to Miami and everywhere in between:
    
  %p CA: San Diego, San Francisco Bay Area
  %p FL: Daytona Beach, Miami, Naples
  %p GA: Atlanta
  %p KY: Louisville, Lexington
  %p MI: Lansing
  %p OH: Cleveland
  %p OK: Oklahoma City
  %p TX: Dallas, San Antonio
  
  %p
    Your ride is waiting for you.
  
  %h3
    Download the free app now!
    
  .span2.ios
    = image_tag(asset_path("ios.png")) 
  .span2.android
    = image_tag(asset_path("android.png")) 
    