body
  margin-top: 20px
section#header
  nav
    float: right
    margin-top: 30px
    ul
      list-style: none
      li
        display: inline-block
        margin-right: 5%
        text-transform: uppercase
        a
          color: #666
          font-weight: bold
        a.current
          color: #E72825
section#content
  margin-top: 50px
  margin-bottom: 20px
  color: #999
section#footer
  background-color: #F0F1F2
  min-height: 30px
  padding-top: 10px
  color: #999
  .social
    float: right
.clear
  clear: both