section.text_part
  h1, h2
    text-transform: uppercase
  h2
    color: #EA40AD
  h1
    color: #3BE4F7
    font-weight: normal
  a.heading
    color: #999
    font-weight: normal
    background: url(asset_path("plus.png","image")) no-repeat left center
    padding-left: 45px
    text-decoration: none
    cursor: pointer
    h3
      border-bottom: 1px dotted #999
      text-transform: uppercase
      font-weight: normal
  a.heading.active
    background: url(asset_path("minus.png","image")) no-repeat left center
  span.img img
    margin-top: 10px
section#about
  article.sub_part
    display: none
  ul
    list-style: none
    margin-top: 10px
    li
      margin: 5px 0px
      a
        text-transform: uppercase
        font-size: 16px
        color: #999
        border-bottom: 1px dotted #999
        text-decoration: none
      a.active
        color: #E72825
  article.image_part
    margin: 0px auto
section#faqs
  p
    color: #999
  h4
    text-transform: uppercase
    font-weight: normal
  section.content
    display: none
    margin-left: 75px
  article.question
    .heading
      background: url(asset_path("left-arrow.png","image")) no-repeat left center
      padding-left: 45px
  article.question.active
    .heading
      background: url(asset_path("grey-arrow.png","image")) no-repeat left center
section#fleet
  h1, h4
    text-transform: uppercase
    font-weight: normal
  h1
    color: #3be4f7
  h4
    font-size: 20px
  p, li
    font-size: 18px
    line-height: 1.5em
    color: #B7B8B9
