%ul
  %li
    %a{href: about_path, class: "#{'current' if controller.controller_name == 'home' && controller.action_name == 'about'}"} About
  %li
    %a{href: fleet_path, class: "#{'current' if controller.controller_name == 'home' && controller.action_name == 'fleet'}"} Fleet
  %li
    %a{href: faqs_path, class: "#{'current' if controller.controller_name == 'home' && controller.action_name == 'faqs'}"} FAQs
.clearfix
