!!!
%html
%head
  %title
    FlywheelDotCom
  %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
  = stylesheet_link_tag "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags
%body
  %section#header.container-fluid
    %article#logo.span4
      = link_to(image_tag(asset_path("logo.png")), root_url)
    %nav.span3
      = render "layouts/nav"
  %section#content.container-fluid
    .span12
      = yield
  %section#footer
    .span4
      %p
        @ 2012 Flywheel software inc
    .span4.social
      .span0
        = image_tag(asset_path("facebook.png"))
      .span0
        = image_tag(asset_path("twitter.png"))